<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>
<h4>Username: <%= @user.username %></h4>
<h4>First Name: <%= @user.first_name %></h4>
<h4>Last Name: <%= @user.last_name %></h4>
<h4>Age: <%= @user.age %></h4>
<p><%= @user.bio %><p>
<h2>Remedies You Have Posted</h2>
<% @user.remedies.each do |remedy| %>
    <%= link_to "#{remedy.title}", user_remedy_path(id: remedy.id, user_id: @user.id)%><br>
<% end %>
<h2>Remedies You Have Commented On</h2>
<% @user.comments.each do |comment| %>
    <%= "You said #{comment.content} on the remedy"%>
    <%= link_to "#{comment.remedy.title}", user_remedy_path(id: comment.remedy.id, user_id: @user.id)%><br>
    <br>
<% end %>
<%= link_to "Create a New Remedy", new_user_remedy_path(@user) %><br>
<%= link_to "See a list of all Remedies", remedies_path %><br>
<%= link_to "Log Out", logout_path, method: "delete" %>