<h4>Username: <%= @user.username %></h4>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.age %>
<%= @user.bio %>
<h3>Comments you have made!</h3>
<% @user.comments.each do |comment| %>
    <%= "You said #{comment.content}" %>
    <%= "on the remedy #{comment.remedy.title}" %><br>
<% end %>
<%= link_to "New Remedy", new_user_remedy_path(@user) %>
<%= link_to "See Remedies", remedies_path %>
<%= link_to "Log Out", logout_path, method: "delete" %>